{% load static %}
<a name="about-section"></a>
<div class="about-page relative" style="z-index: 3">
    <div class="about-wrapper relative px-3 z-10 py-5">
        <div class="about-page-image-aniversary">
            <img src="{% static './media/About Anniversary.png' %}" style="height: 100%; width: 100%; object-fit:contain;">
        </div>

        <div class="font-['ShadowHand']">
            <p class="text-3xl md:text-6xl lg:text-8xl text-right pb-5"  style="z-index:2; position: relative;" data-aos="fade-up">UT-<span class="text-[#FFBD40]">KRUSHING</span> 25:</p>
            <p class="text-3xl md:text-6xl lg:text-8xl text-left"  style="z-index:2; position: relative;" data-aos="fade-down">LET'S <span class="text-[#FFBD40]">SILVER</span>-BRATE!</p>
        </div>
        
        <div class="text-xl mt-16 h-full flex flex-col justify-between items-end gap-y-16 yatra">
            <p class="w-full md:max-w-xl lg:max-w-2xl relative md:right-40">
                Utkarsh isn't just a fest, it's a constellation of memories etched in silver for 25 years. It's the pulsating heart of our college, where dreams find their stage and aspirations take flight.
            </p>
            <p class="w-full md:max-w-xl lg:max-w-2xl text-right md:mb-20">
                From the echoing laughter of quiz nights to the thunderous applause in the auditorium, Utkarsh has woven a tapestry of moments that shimmer with shared joy.
            </p>
            <div><a href="../../../register">
                <button  class="bg-black text-white yatra py-2 text-xs md:text-2xl px-3 md:px-6 rounded-full">REGISTER <svg  class="about-para-svg inline-block mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15"  viewBox="0 0 10 11" >
                    <path stroke="white" d="M1.5115 1.98856H8.5344M8.5344 1.98856V9.01146M8.5344 1.98856L1.5115 9.01146" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></button></a>
            </div>

        </div>

       
        <div class="about-page-image-ut-logo"  data-aos="fade-up">
            <img src="{% static './media/utkarsh-logo.png' %}" style="height: 100%; width: 100%; object-fit:contain;">
        </div>


    </div>
</div>
