{% load static %}
<footer class="rounded-t-xl">
    <div class="footer_items gap-2">
        <div class="footer_about" data-aos="fade-up">
            <p style="letter-spacing: 2px; padding-left: 9px;">An initiative by</p>
            <img src="{% static './media/bbd logo.png' %}">
        </div>
        <div class="contacts_us" data-aos="fade-up">
            <a name="contactsection"></a>
            <h2>CONTACT US</h2>
            <p>Phone: +91 727 519 6023</p>
            <p>Phone: +91 950 605 5244</p>
            <p>Email: utkarsh.website@bbdu.ac.in</p>
        </div>

        <div class="quicklinks" data-aos="fade-up">
            <h2>QUICK LINKS</h2>
            <a href="../../../">Home</a>
            <a href="../../..//#infosection">About us</a>
            <a href="../../events/?q=all">Events</a>
            <a href="{% static 'media/EVENT sCHEDULER utkasrh 2024 003.pdf' %}" target="_blank">Scheduler</a>
            <a href="{% static 'media/rule-book.pdf' %}" target="_blank">Rule Book</a>
        </div>

        <div class="map" data-aos="fade-up">
            <h2>CAMPUS MAP</h2>
            <a href="../../contents/?n=BBD Campus Map.pdf" target="_blank">
                <img src="{% static './media/mini map.jpg' %}   ">
            </a>
        </div>

    </div>

    <div class="credt">
        <p>&copy; 2024, Babu Banarasi Das Educational Group. All rights reserved.</p>
        <p>Ayodhya Road, Lucknow, Uttar Pradesh 226028, India</p>
    </div>
</footer>